<html>
  <head>
    <title>Sabar's Blog</title>
    {% include "global_imports.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/other.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/writing.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/articles.css') }}">

    <script type="text/python3">
      from browser import document, html
      from graphqlclient import GraphQLClient

      root_url = "http://localhost:5000"

      client = GraphQLClient(f"{root_url}/graphql")
      articles = client.execute(""" {
        articles {
          id
          title
          text
        }
      }""")["data"]["articles"]

      articles_ol = document.getElementById("articles_ol")

      for article_data in articles:

        # create title
        h1 = document.createElement("h1")
        a = document.createElement("a")
        title_text = document.createTextNode(article_data["title"]);
        a.appendChild(title_text);
        a.title = article_data["title"]
        a.href = f"{root_url}/articles/{article_data['id']}"
        h1.appendChild(a)

        # create text
        text = document.createElement("span")
        text_text = document.createTextNode(article_data["text"])
        text.appendChild(text_text)

        # create article
        article = document.createElement("article")
        article.appendChild(h1)
        article.appendChild(text)
        li = document.createElement("li")
        li.appendChild(article)

        # add to articles div
        articles_ol.appendChild(li)
    </script>
  </head>
  <body onload="brython(1)">
    <header>
    </header>
    {% include "nav/nav.html" %}
    <div id="articles">
      <ol id="articles_ol">
      </ol>
    </div>
    {% include "nav/return.html" %}
  </body>
</html>
