<html>
  <head>
    <title>Sabar's Portfolio</title>
    {% include "global_imports.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/other.css') }}">

    <script type="text/python3">
      print("Python!")
    </script>
  </head>
  <body onload="brython(1)">
    <header>
    </header>
    <nav>
      <a href="/blog">Blog</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/photos">Photos</a>
      <a href="/audio">Audio</a>
    </nav>
    <div id="return">
        <a href="/">< Return to the Park</br></a>
    </div>
  </body>
</html>
