<html>
  <head>
    <title>Project: {{project.title}}</title>
    {% include "global_imports.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/projects.css') }}">


    <script type="text/python3">
      print("Python!")
    </script>
  </head>
  <body onload="brython(1)">
    <header>
    </header>
    {% include "nav/nav.html" %}

    </br>


    <div class="text">
      <h1>{{project.title}}</h1>
      {{project.text|safe}}
    </div>



    <div id="return-space"></div>
    <div id="return">
      <a href="/projects">< Return to Projects</br></a>
    </div>
  </body>
</html>
