body {
  background-image: url('../images/sora1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bbffbb;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  font-family: serif;
}

nav {
  color: #6EAEbC !important;
}

nav a {
  color: #6EAEbC !important;
}
