body {
  background-image: url('../images/sora1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #bbffbb;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

nav a {
  color: #6EAEbC !important;
}

#welcome  {
  position:  absolute;
  bottom: 30px;
  left: 30px;
  width: fit-content;
  height:  30px;
  padding:  7px;
  background-color: #6EAEbC;
  font-size: 30px;
  text-align: right;
  color: #9D872D;
}
