nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
    padding: 7px;
    text-align: center;
    background-color: #9D872D;
    font-size: 24px;
    color: #587E52;
}

nav a {
  color: #587E52;
  text-decoration: none;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#welcome  {
  position:  absolute;
  bottom: 30px;
  left: 30px;
  width: fit-content;
/*  height:  30px;*/
  padding:  5px;
  background-color: #6EAEbC;
  font-size: 30px;
  text-align: right;
  color: #9D872D;
}

#return-space {
  height: 80px;
}

#return  {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: fit-content;
/*  height: 30px;*/
  padding:  5px;
  background-color: #9D872D;
  font-size: 30px;
  text-align: right;
}

#return a:link, #return a:visited {
  text-decoration: none;
  color:  #587E52;
}

.body {
  padding-bottom: 30px;
}
