h1 {
    text-align:center;
}

.container .row {
/*    height: 200px;*/
}

.card {
    align-items:center;
    background-color: #9ab197;
    margin-left: 5px;
    margin-right: 5px;
    text-align:center;
}

.card:hover {
    background-color: #799774;
}

.text{
    background-color: #9ab197;
    margin: auto;
    width:80%;
    text-align:left;
    padding: 20px;
}

.container .row .col img {
    height: 200px;
    width: 60%;
}
